---
interface Props {
  placeholder: string;
  name: string;
  limit: number;
  error: string;
}
let { placeholder, error, limit, name } = Astro.props;
---

<div class="">
  <input
    type="text"
    placeholder={placeholder}
    class=` w-full px-4 py-1 font-semibold border rounded-md outline-none border-inp border-dark-grayish-violet text-normal text-dark-grayish-violet`
    maxlength={limit}
    name={name}
  />
  />
  <p class=` error-${name} hidden text-xs font-semibold text-red`>
    {error}
  </p>
</div>
